.bg-yellow {
  background-color: yellow !important;
}
.bg-blue {
  background-color: blue !important;
}
.bg-red {
  background-color: red !important;
}
.bg-green {
  background-color: green !important;
}
.bg-orange {
  background-color: orange !important;
}
.bg-purple {
  background-color: purple !important;
}
.bg-fuchsia {
  background-color: fuchsia !important;
}
.bg-cyan {
  background-color: cyan !important;
}
.bg-darkgreen {
  background-color: darkgreen !important;
}
.bg-black {
  background-color: black !important;
}
.bg-white {
  background-color: white !important;
}
.bg-brown {
  background-color: saddlebrown !important;
}
.bg-gray {
  background-color: gray !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.font-yellow {
  color: yellow !important;
}
.font-blue {
  color: blue !important;
}
.font-red {
  color: red !important;
}
.font-green {
  color: green !important;
}
.font-orange {
  color: orange !important;
}
.font-purple {
  color: purple !important;
}
.font-fuchsia {
  color: fuchsia !important;
}
.font-cyan {
  color: cyan !important;
}
.font-darkgreen {
  color: darkgreen !important;
}
.font-black {
  color: black !important;
}
.font-white {
  color: white !important;
}
.font-brown {
  color: saddlebrown !important;
}
.font-gray {
  color: gray !important;
}
.border-yellow {
  border-color: yellow !important;
}
.border-blue {
  border-color: blue !important;
}
.border-red {
  border-color: red !important;
}
.border-green {
  border-color: green !important;
}
.border-orange {
  border-color: orange !important;
}
.border-purple {
  border-color: purple !important;
}
.border-fuchsia {
  border-color: fuchsia !important;
}
.border-cyan {
  border-color: cyan !important;
}
.border-darkgreen {
  border-color: darkgreen !important;
}
.border-black {
  border-color: black !important;
}
.border-white {
  border-color: white !important;
}
.border-brown {
  border-color: saddlebrown !important;
}
.border-gray {
  border-color: gray !important;
}
.border-transparent {
  border-color: transparent !important;
}